<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %mdc [%thread] %-5level %logger{36} %m%n%xEx{5}</pattern>
        </encoder>
    </appender>

    <appender name="CASSANDRA" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %mdc [%thread] %logger{36} %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.github.nosan" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.github.nosan.embedded.cassandra.Cassandra" level="INFO" additivity="false">
        <appender-ref ref="CASSANDRA"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
