name: Build
permissions:
  contents: read
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ 'ubuntu-latest', 'macos-latest' ]
    steps:
      - name: Check Out Code
        uses: actions/checkout@v6
      - name: Set up Project
        uses: actions/setup-java@v5
        with:
          java-version: 11
          distribution: 'liberica'
      - name: Build
        run: mvn -B clean verify
