name: Build Pull Request
on: pull_request
permissions:
  contents: read
jobs:
  build:
    name: Build Pull Request
    runs-on: 'ubuntu-latest'
    steps:
      - name: Check Out Code
        uses: actions/checkout@v6
      - name: Set up Project
        uses: actions/setup-java@v5
        with:
          java-version: 11
          distribution: 'liberica'
      - name: Build
        run: mvn -B clean verify
